# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#
36 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 1 16 10

38 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 1 16 10

40 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 1 16 10

42 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 2 16 10

44 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 2 16 10

46 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 2 16 10

47 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 3 16 10

49 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 3 16 10

51 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 3 16 10

53 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 4 16 10

55 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 4 16 10

57 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 4 16 10

58 6 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 5 16 10

0 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 5 16 10

2 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 5 16 10

4 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 6 16 10

6 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 6 16 10

8 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 6 16 10

9 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 7 16 10

11 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 7 16 10

13 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 7 16 10

15 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 8 16 10

17 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 8 16 10

19 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 8 16 10

20 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 9 16 10

22 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 9 16 10

24 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 9 16 10

26 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 10 16 10

28 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 10 16 10

30 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 10 16 10

31 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 11 16 10

33 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 11 16 10

35 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 11 16 10

37 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 12 16 10

39 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 12 16 10

41 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 12 16 10

42 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 13 16 10

44 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 13 16 10

46 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 13 16 10

48 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 14 16 10

50 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 14 16 10

52 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 14 16 10

53 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 15 16 10

55 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 15 16 10

57 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 15 16 10

59 7 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbench 16 16 10

1 8 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py pgbench 16 16 10

3 8 26 * * ubuntu python3  ~/SCRIPT/scripts/remote/c5d_run.py sysbenchio 16 16 10
